* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f2f2f2;
  text-decoration: none;
  font-family: "Geist", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3 {
  line-height: 110%;
  font-weight: 600;
  letter-spacing: -2px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  letter-spacing: -1px;
}

p {
  opacity: 0.7;
  font-weight: 300;
  line-height: 130%;
}

body {
  background-color: #262625;
  line-height: 110%;
}

.container {
  margin: 0 auto;
  max-width: 1224px;
}

.container-small {
  margin: 0 auto;
  max-width: 1016px;
}

/* HEADER begin */

.navbar {
  position: relative;
  background-color: #333332;
  border-radius: 12px;
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 96px;
}

.logo-link {
  display: inline-block;
  height: 24px;
  max-height: 24px;
  z-index: 1;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 12px;
  z-index: 1;
}

.menu-item {
  padding: 16px 12px;
  line-height: 110%;
}

.cta {
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary {
  color: #61f453;
  background-color: rgba(97, 244, 83, 0.1);
  min-width: 80px;
}

.primary {
  color: #262625;
  background-color: #61f453;
  min-width: 184px;
}

.navbar-gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  border-radius: 12px;
}

/* HEADER end */

/* FOOTER begin */

form button {
  border: none;
}

.footer {
  background-color: #333332;
  border-radius: 12px;
  margin-bottom: 24px;
}

.footer-item-wrapper {
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.newsletter-heading {
  font-size: 24px;
  font-weight: 600;
  max-width: 340px;
  line-height: 110%;
  letter-spacing: -0.5px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 16px;
}

.form-field {
  background-color: #40403f;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  border: none;
  width: 340px;
  max-width: 340px;
}

.form-field::placeholder {
  font-weight: 400;
  font-size: 16px;
}

.footer-img-wrapper {
  margin-top: 96px;
  height: 310px;
}

/* FOOTER end */

/* LOGIN begin */

.login-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.margin-b-160 {
  margin-bottom: 160px;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  row-gap: 8px;
}

.login-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.margin-b-16 {
  margin-bottom: 16px;
}

.margin-b-32 {
  margin-bottom: 32px;
}

label {
  opacity: 0.7;
}

/* LOGIN end */

/* REGISTER begin */

.register-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  column-gap: 128px;
}

.register-form {
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  background-color: #333332;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.register-heading {
  max-width: 600px;
}

.is-register {
  min-width: 100%;
}

.margin-b-128 {
  margin-bottom: 128px;
}

.margin-b-8 {
  margin-bottom: 8px;
}

/* REGISTER end */

/* FEATURES begin */

.heading-img {
  position: relative;
  top: 20px;
}

.text-center {
  text-align: center;
}

.margin-b-96 {
  margin-bottom: 96px;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.features-item {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #333332;
  border-radius: 12px;
  border: 1px solid rgba(242, 242, 242, 0.1);
}

.features-col {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  z-index: 1;
}

.max-width-440 {
  max-width: 440px;
}

.features-gradient {
  position: absolute;
  bottom: 0px;
  z-index: 0;
}

.is-right-gradient {
  bottom: 0px;
  right: 0px;
}

.is-left-gradient {
  bottom: 0px;
  left: 0px;
}

.features-badge {
  position: absolute;
  top: 32px;
}

.features-left-badge {
  left: 32px;
}

.features-right-badge {
  right: 32px;
}

.features-paddingless-img {
  position: relative;
  bottom: -32px;
  left: -32px;
}

/* FEATURES end */

/* HOME begin */

.hero-heading-visual {
  position: relative;
  top: 20px;
}

.hero-heading {
  line-height: 75%;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
  margin-bottom: 72px;
}

.padding-global {
  padding: 0 20px;
}

.about-img-col {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.eyebrow-heading-text {
  opacity: 0.7;
  position: relative;
  top: 8px;
}

.about-text-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.about-heading {
  max-width: 600px;
}

.about-section {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.about-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infinite-marquee-wrapper {
  max-width: 704px;
  overflow: hidden;
  height: 300px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.infinite-marquee-img {
  /* padding-left: 100%; */
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-51%);
  }
}

.blog-section {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.blog-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.blog-p {
  max-width: 500px;
}

.blog-post {
  max-width: 392px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0px;
}

.blog-post-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  background-color: #333332;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.blog-post-text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.blog-post-p {
  max-width: 335px;
}

.blog-cta-btn {
  max-width: 184px;
}

.blog-read-btn {
  max-width: 127px;
}

.blog-posts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.element-center {
  margin: 0 auto;
}

.newsletter-section {
  padding: 32px 32px 0px 32px;
  border: 1px solid rgba(242, 242, 242, 0.1);
  border-radius: 12px;
  background-color: #333332;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newsletter-section-heading {
  max-width: 600px;
  margin-bottom: 32px;
}

.newsletter-section-form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.full-width {
  width: 100%;
}

.testimonials-heading {
  max-width: 480px;
}

.testimonials-text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.text-semibold {
  font-weight: 500;
}

.testimonial-person-wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  column-gap: 12px;
  z-index: 1;
}

.testimonial-name-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.testimonial {
  padding: 16px;
  border-radius: 12px;
  max-width: 392px;
  background-color: #333332;
  position: relative;
}

.testimonial-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  opacity: 1;
  margin-bottom: 32px;
  letter-spacing: -1px;
}

.testimonial-gradient {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  border-radius: 12px;
  user-select: none;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonial:nth-child(2) {
  top: -40px;
}

.testimonial:nth-child(3) {
  top: -80px;
}

.big-cta-wrapper {
  border-radius: 12px;
  background-color: #61f453;
  color: #262625;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 64px;
}

.black-cta {
  background-color: #262625;
  color: #f2f2f2;
  max-width: 184px;
}

.h1-style {
  font-size: 64px;
  color: #262625;
}

.hanging-punctuation {
  margin-left: -4px;
}

/* HOME end */

/* PROFILE begin */

.margin-b-64 {
  margin-bottom: 64px;
}

/* PROFILE end */
